body {
    background-color: powderblue;
}

.headshot {
  width: 150%;
}

.trevi {
  width: 100%;
}

p.quote{
  font-size: 10pt;
  text-align: center;
  font-style: italic;
}

.sidebar-padding {
  padding: 8px;
}

.row {
  padding-right: 5px
}

.col-xs-10 {
  float: right;
}
