body {
    background-color: powderblue;
    font-family: Trebuchet MS, sans-serif;
    color: teal;
}

.hannah {
  font-size: 25pt;
  font-weight: bold;
}

.cristina {
  font-style: italic;
  font-size: 24pt;
}

.balbon {
  font-size: 26pt;
  font-weight: bold;
}

.headshot {
  width: 25%;
  float: left;
}

.trevi {
  width: 100%;
}

p.quote{
  font-size: 10pt;
  text-align: center;
  font-style: italic;
}

.sidebar-padding {
  padding: 8px;
}

.sidebar-headers {
  color: teal;
}

.row {
  padding-right: 5px
}

.col-xs-10 {
  float: right;
}
